{% extends 'base.html' %}
{% block title %} Reset password {% endblock %}

{% block content %}
    <div class="container-fluid">
        <br><br>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Reset password</h5>
                        <p class="card-text">Your password has been changed.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

