{% extends 'base.html' %}

{% block title %} My cart {% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-3">
                <br>
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Content of cart</h3>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>No</th>
                                <th>Product</th>
                                <th>Quantity</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in orders %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ item.product.title }}</td>
                                    <td>{{ item.quantity }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}